/*ME NERI PEREZ CHRISTIAN             GRUPO:4APV/
/DAW                      FECHA:5/Mayo/2023/
/A continuacion le aplicamos CSS al archivo FISICA.HTML; Desde un Archivo CSS.(FISICA.CSS)*/

body{
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to bottom, pink, #b652f8);
}
.titulo{
    font-size: 38px; 
    color: rgb(64, 9, 126);
    font-family:Arial, sans-serif;
}
.info{
    font-size: 10px; 
    color: rgb(216, 101, 245);
    font-family: Arial, sans-serif;
}
main p{
    font-size: 17pt;
    color: rgb(129, 0, 235);
    margin: 10pt;
}
main{
    display: grid;
    border-radius: 10px;
    margin: 5% 20%;
    border: outset 5px rgb(241, 93, 184);
    padding: 5px;
    background-color: rgb(255, 162, 247);
}
.direcciones {
    border-collapse: collapse;
    width: 100%;
  }
  
  .direcciones td {
    padding: 10px;
    text-align: center;
  }
  
  .direcciones tr:nth-child(odd) {
    background-color: #b653e4;
  }
  
  .direcciones tr:hover {
    background-color: #9662b4;
  }
  
  .direcciones a {
    text-decoration: none;
    color: #333;
  }
  
  .direcciones a:hover {
    color: #fcfcfc;
  }
  
  .direcciones h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .direcciones {
    animation: fadeIn 1s;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    color: #b652f8;
    font-size: large;
    border-top: #9662b4;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #f500cc;
  }
  
  tr:hover {
    background-color: #ff9af7;
  }
  
  @keyframes fade {
    from { background-color: transparent; }
    to { background-color: #ed68f1; }
  }
  
  tr {
    animation: fade 0.5s ease;
  }
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #f500cc;
  }
  
  li {
    transition: color 0.3s;
    cursor: pointer;
  }
  
  li:hover {
    color: purple;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  ol ul {
    list-style-type: disc;
    color: #b311c2;
  }
  
  ol ul li {
    margin-left: 20px;
  }
  
  ol ul li:hover {
    color: #800080;
  }
  .loader {
    width: 106px;
    height: 56px;
    display: block;
    margin: 30px auto;
    background-image: linear-gradient(#ee0ce3 50px, transparent 0), linear-gradient(#ee0ce3 50px, transparent 0), linear-gradient(#ee0ce3 50px, transparent 0), linear-gradient(#ee0ce3 50px, transparent 0), radial-gradient(circle 14px, #ee0ce3 100%, transparent 0);
    background-size: 48px 15px , 15px 35px, 15px 35px, 25px 15px, 28px 28px;
    background-position: 25px 5px, 58px 20px, 25px 17px, 2px 37px, 76px 0px;
    background-repeat: no-repeat;
    position: relative;
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  .loader::after,
  .loader::before {
    content: '';  
    position: absolute;
    width: 56px;
    height: 56px;
    border: 6px solid #181414;
    border-radius: 50%;
    left: -45px;
    top: -10px;
    background-repeat: no-repeat;
    background-image: linear-gradient( #ee0ce3 64px, transparent 0), linear-gradient(#ee0ce3 66px, transparent 0), radial-gradient(circle 4px, #ee0ce3 100%, transparent 0);
    background-size: 40px 1px , 1px 40px, 8px 8px;
    background-position: center center;
    box-sizing: border-box;
    animation: rotation 0.3s linear infinite;
  }
  .loader::before {
    left: 25px;
    top: 60px;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
} 
  
  